@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  padding: 0.6em 1em;
  background-color: #50a3b3;
  color: #e8f0fe;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
}
button:hover {
  border-color: #378b8a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* Forum Page Styles */
.forum-posts-list {
  list-style-type: none; 
  padding-left: 0;
}

.forum-post-item {
  cursor: pointer;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: #121212;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.forum-post-item:hover {
  background-color: #50a3b3;
}

.forum-post-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.forum-post-content {
  font-size: 1rem;
  color: white;
}

.forum-post-date {
  font-size: 0.875rem;
  color: #888;
}

.comments-list-item {
  margin-top: 1rem; 
}

.comment-author {
  font-weight: bold;
}

.comment-content {
  font-size: 1rem;
  color: white;
}

.comment-date {
  font-size: 0.875rem;
  color: #888;
}
/* User list styles */
.user-list {
  list-style-type: none;
  padding-left: 0; 
}

.user-list li {
  padding: 0.5em;
  margin: 0.5em 0;
}

.user-list li a {
  color: #646cff;
  text-decoration: none;
}

.user-list li a:hover {
  color: #535bf2;
}
/* Games Styles */
.games-list {
  list-style-type: none;
  padding-left: 0;
}

.game-item {
  cursor: pointer;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: #121212;
  color: #ffffff;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.game-item:hover {
  background-color: #50a3b3;
}

.game-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.game-genres {
  font-size: 1rem;
  color: #bbbbbb;
}
.game-details {
  background-color: #121212;
  color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 2rem;
}

.game-details-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.game-details-genre {
  font-size: 1.1rem;
  color: #bbbbbb;
}

.game-details-release {
  font-size: 1rem;
  color: #bbbbbb;
}

.game-details-description {
  margin-top: 1rem;
  font-size: 1rem;
  color: #dddddd;
}
.games-list-item {
  background-color: #121212; 
  color: #ffffff; 
  padding: 1em;
  margin: 0.5em 0;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.games-list-item:hover {
  background-color: #50a3b3; 
}

.game-list-title {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.25rem;
}

.game-list-genres {
  font-size: 1rem;
  color: #bbbbbb; 
}
/* Search box styles */
.user-search-input {
  padding: 0.6em 1em;
  margin-bottom: 1em;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid #646cff;
  background-color: #1a1a1a;
  color: white;
}

.user-search-input::placeholder {
  color: #888;
}

.forum-search-input {
  padding: 0.6em 1em;
  margin-bottom: 1em;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid #646cff;
  background-color: #1a1a1a;
  color: white;
}

.forum-search-input::placeholder {
  color: #888;
}

/* Form styles */
.form-container {
  background-color: #121212;
  color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
}

.form-input,
.form-textarea,
.form-button {
  max-width: 600px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
}

.form-button {
  background-color: #50a3b3;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: darken(#50a3b3, 10%);
}
.forum-form-input,
.forum-form-textarea {
  width: 100%;
  max-width: 48rem;
  padding: 0.6em 1em;
  margin-bottom: 1em;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid #50a3b3;
  background-color: #121212;
}

.forum-form-button {
  padding: 0.6em 1em;
  background-color: #50a3b3;
  color: #e8f0fe;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  border: none;
}

.forum-form-button:hover {
  background-color: #535bf2;
}
.game-form-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 46px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.game-form {
  background-color: #121212;
  color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game-form label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #bbbbbb;
}

.game-form input,
.game-form textarea {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 1rem;
  background-color: #2e2e2e;
  border: 1px solid #333333;
  color: #ffffff;
  border-radius: 4px;
}
.game-form-input:focus,
.game-form-textarea:focus {
  outline: none;
  border-color: #50a3b3;
  background-color: #3a3a3a;
}
.game-form button {
  padding: 10px 15px;
  background-color: #50a3b3;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.game-form-select {
  padding: 10px 15px;
  background-color: #2e2e2e;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #333333;
}

.game-form-select:focus {
  outline: none;
  border-color: #50a3b3;
  background-color: #3a3a3a;
}
.game-form button:hover {
  background-color: #378b8a;
}
.no-game-selected {
  text-align: center;
  margin-top: 2rem;
  color: #ffffff;
  font-size: 1.25rem;
}
.genre-tags-input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

.genre-tags-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.genre-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.genre-tag {
  background: #50a3b3;
  color: #fff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.genre-tag button {
  background: none;
  border: none;
  color: #121212;
  font-weight: bold;
  margin-left: 0.5rem;
  cursor: pointer;
}


.genre-tag span {
  margin-left: 8px;
  color: #121212;
  font-weight: bold;
}
.genre-input-box {
  flex: 1;
  padding: 0.5rem;
  font-size: 0.875rem;
  border: 1px solid #333333;
  border-radius: 16px;
  margin: 0.5rem 0;
}
.genre-input-field {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.auth-form-container {
  background-color: #121212; 
  color: #ffffff;
  border-radius: 8px;
  padding: 2rem;
  max-width: 400px;
  margin: 2rem auto;
}

.auth-form-title {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
}

.auth-form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #bbbbbb;
}

.auth-form-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #1d1d1d;
  border: 1px solid #333333;
  color: #ffffff;
  border-radius: 8px;
}
/* Review Form Styles */
.review-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rating-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.star {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.star.filled {
  color: #ffc107;
}

.review-text {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Reviews List Styles */
.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review-card {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f0f0f0;
}

.review-rating {
  font-weight: bold;
}

.review-text {
  margin-top: 0.5rem;
}
/* Specific button styles for auth forms */
.auth-form-button {
  padding: 0.6rem 1rem;
  max-width: 600px;
  background-color: #50a3b3;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.auth-form-button:hover {
  background-color: #378b8a;
}

.auth-form-link {
  color: #50a3b3;
  margin-left: 5px;
}

.auth-form-link:hover {
  text-decoration: underline;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.comment-textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 100px;
  background-color: #121212;
  color: #ffffff;
}

.comment-submit-button {
  width: auto;
  padding: 0.6rem 1rem;
  background-color: #50a3b3;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  align-self: flex-end;
}

.comment-submit-button:hover {
  background-color: #378b8a;
}

.forum-details-container {
  background-color: #121212;
  color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  max-width: 800px;
  margin: 2rem auto;
}

.forum-details-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.forum-details-content {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.forum-details-comment-section {
  margin-top: 2rem;
}

.forum-details-comment-input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #1d1d1d;
  border: 1px solid #333333;
  color: #ffffff;
  border-radius: 8px;
}

.forum-details-submit-button {
  padding: 0.6em 1em;
  background-color: #50a3b3;
  color: #ffffff;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.forum-details-submit-button:hover {
  background-color: #378b8a;
}

.forum-details-likes {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.like-button {
  background-color: transparent;
  color: #50a3b3;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.like-button:hover {
  color: #378b8a;
}

.forum-post-details {
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 6px;
  padding: 1rem;
  margin-top: 2rem;
}

.post-header {
  border-bottom: 1px solid #3e3e3e;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.post-title {
  font-size: 1.5rem;
  color: #50a3b3;
}

.post-type {
  background: #282c34;
  border-radius: 12px;
  padding: 0.25rem 0.75rem;
  display: inline-block;
  margin-left: 1rem;
  font-size: 0.9rem;
}

.post-type.general { background-color: #678c58; }
.post-type.questions { background-color: #8c5c57; }
.post-type.announcements { background-color: #57648c; }
.post-type.guide { background-color: #c4a748}
.post-type.bugs_and_glitches { background-color: #b55f5f;}
.post-interactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.like-button {
  background: #50a3b3;
  color: #121212;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.like-button:hover {
  background: #378b8a;
}

.post-content {
  margin-bottom: 1rem;
}

.comments-section {
  margin-top: 2rem;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #3e3e3e;
  padding: 0.5rem;
  background-color: #2e2e2e;
  color: #ffffff;
  margin-bottom: 1rem;
}

.comment-submit-button {
  background: #50a3b3;
  color: #121212;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.comment-submit-button:hover {
  background: #378b8a;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .user-search-input {
    background-color: #f9f9f9;
    color: #213547;
  }
}